@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgrey;
    width: 100%;
    height: 100vh;
    margin: 75px auto;
    display: grid;
}

.navbar-test {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
  .navbar-test * {
    box-sizing: border-box;
    transition: all 0.35s ease;
  }
  .navbar-test li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1em;
    padding: 0;
  }
  .navbar-test a {
    padding: 0.8em 17px;
    color: black;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .navbar-test a:before,
  .navbar-test a:after {
    left: 0%;
    right: 0%;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    content: '';
    border-left: 12px solid #46627f;
    border-right: 12px solid #46627f;
    height: 3px;
    position: absolute;
    transition: all 0.35s ease;
  }
  .navbar-test a:hover,
  .navbar-test .current a {
    color: red;
  }
  .navbar-test a:hover:before,
  .navbar-test .current a:before {
    transform: translateY(-50%) rotate(12deg);
  }
  .navbar-test a:hover:after,
  .navbar-test .current a:after {
    transform: translateY(-50%) rotate(-12deg);
  }

p {
    margin: 40px auto;
    display: flex;
    justify-content: center;
}



.container {
    display: flex;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
    margin: 0px auto;
    justify-content: center;
  }
figure.effect1 {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  min-height: 110px;
  max-height: 210px; /* pour régler la marge du bas baisser ou augmenter */
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.effect1 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.effect1 img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.effect1 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.effect1 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  font-size: 1.7em;
  padding-top: 3px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.effect1 h2 span {
  font-weight: 800;
}

figure.effect1:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: skew(-10deg) rotate(-10deg) translateY(-50%);
  transform: skew(-10deg) rotate(-10deg) translateY(-50%);
}

figure.effect1 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.effect1.color1 {
  background: orangered;
}

figure.effect1.color1 h2 {
  background: orange;
}

figure.effect1.color2 {
  background: pink;
}

figure.effect1.color2 h2 {
  background: magenta;
}

figure.effect1.color3 {
  background: lawngreen;
}

figure.effect1.color3 h2 {
  background: seagreen;
}

figure.effect1:hover img,
figure.effect1.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.effect1:hover h2,
figure.effect1.hover h2 {
  top: 150%;
}

figure.effect1:hover:before,
figure.effect1.hover:before {
  -webkit-transform: skew(-10deg) rotate(-10deg) translateY(-150%);
  transform: skew(-10deg) rotate(-10deg) translateY(-150%);
}


.effect2 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: red;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
  }
  .effect2 *,
  .effect2 *:before,
  .effect2 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
  }
  .effect2 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
  }
  .effect2 figcaption {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 5px 10px 10px;
  }
  .effect2 figcaption:before,
  .effect2 figcaption:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: yellow;
  }
  .effect2 figcaption:before {
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .effect2 figcaption:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .effect2 figcaption div:before,
  .effect2 figcaption div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: lime;
  }
  .effect2 figcaption div:before {
    top: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  .effect2 figcaption div:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .effect2 h2,
  .effect2 h4 {
    margin: 0;
    text-transform: uppercase;
  }
  .effect2 h2 {
    font-weight: 400;
  }
  .effect2 h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
  }
  .effect2 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .effect2:hover img,
  .effect2.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  .effect2:hover figcaption:before,
  .effect2.hover figcaption:before,
  .effect2:hover figcaption:after,
  .effect2.hover figcaption:after,
  .effect2:hover figcaption div:before,
  .effect2.hover figcaption div:before,
  .effect2:hover figcaption div:after,
  .effect2.hover figcaption div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .effect2:hover figcaption:before,
  .effect2.hover figcaption:before,
  .effect2:hover figcaption:after,
  .effect2.hover figcaption:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }



  .effect3 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px 8px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: red;
    font-size: 16px;
    text-align: left;
  }
  .effect3 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .effect3:before {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    bottom: 100%;
    content: '';
    background-color: rgba(51, 51, 51, 0.9);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  .effect3 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
  }
  .effect3 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .effect3 h3,
  .effect3 h5 {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
  }
  .effect3 h3 {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    margin-bottom: 5px;
  }
  .effect3 h5 {
    font-weight: normal;
    background-color: #ae895d;
    padding: 3px 10px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .effect3 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .effect3:hover:before,
  .effect3.hover:before {
    bottom: 10px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .effect3:hover h3,
  .effect3.hover h3,
  .effect3:hover h5,
  .effect3.hover h5 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .effect3:hover h3,
  .effect3.hover h3 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .effect3:hover h5,
  .effect3.hover h5 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }


figure.effect4 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  border: 4px solid #000;
  width: 100%;
  background: #000;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
figure.effect4 * {
  box-sizing: border-box;
}
figure.effect4 img {
  max-width: 100%;
  opacity: 1.0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
figure.effect4 > div a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  color: #ffffff;
}
figure.effect4 > div a i {
  display: inline-block;
  font-size: 58px;
  opacity: 0;
  top: 55%;
  position: relative;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.effect4:hover img {
  opacity: 0.3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.effect4:hover > div i {
  opacity: 0.8;
  top: 50%;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}


figure.effect5 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  border: 4px solid #000;
  width: 100%;
  background: #222222;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.effect5 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.effect5 img {
  max-width: 100%;
  opacity: 1.0;
  -webkit-transition: opacity 0.35s, scale(1);
  transition: opacity 0.35s, scale(1);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
figure.effect5 > div a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  color: #ffffff;
}
figure.effect5 > div a i {
  display: inline-block;
  font-size: 58px;
  opacity: 0;
  top: 55%;
  position: relative;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.effect5 > div::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0 30px #000;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.5, 1.5, 1);
  transform: scale3d(1.5, 1.5, 1);
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
figure.effect5:hover img {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.3;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.effect5:hover > div i {
  opacity: 0.8;
  top: 50%;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
figure.effect5:hover > div::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.effect6 {
    position: relative;
    overflow: hidden;
    display: inline-block;

    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect6 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect6 img {
    max-width: 100%;
    position: relative;
    top: 0;
    opacity: 1.0;
    left: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect6 > div {
    height: 100%;
    right: -80px;
    width: 70px;
    position: absolute;
    border-left: 2px solid #ffffff;
    top: 0;
    padding: 8px 4px;
    color: #ffffff;
    background: #000;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect6 > div a i {
    display: inline-block;
    font-size: 32px;
    color: #ffffff;
    opacity: 0.75;
    width: 100%;
    padding: 5px 15px;
    position: relative;
    right: -60px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect6:hover img {
    opacity: 0.5;
    left: -60px;
  }
  figure.effect6:hover > div {
    right: 0;
    opacity: 1;
  }
  figure.effect6:hover > div a i {
    right: 0;
  }
  figure.effect6:hover a:first-child i {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  figure.effect6:hover a:nth-child(2) i {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  figure.effect6:hover a:nth-child(3) i {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  figure.effect7 {
    position: relative;
    overflow: hidden;
    display: inline-block;

    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect7 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect7 img {
    max-width: 100%;
    position: relative;
    top: 0;
    opacity: 1.0;
    right: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect7 > div {
    height: 100%;
    left: -80px;
    width: 70px;
    position: absolute;
    border-right: 2px solid #ffffff;
    top: 0;
    padding: 8px 4px;
    color: #ffffff;
    background: #000;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect7 > div a i {
    display: inline-block;
    font-size: 32px;
    color: #ffffff;
    opacity: 0.75;
    width: 100%;
    padding: 5px 15px;
    position: relative;
    left: -60px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect7:hover img {
    opacity: 0.5;
    right: -60px;
  }
  figure.effect7:hover > div {
    left: 0;
    opacity: 1;
  }
  figure.effect7:hover > div a i {
    left: 0;
  }
  figure.effect7:hover a:first-child i {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  figure.effect7:hover a:nth-child(2) i {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  figure.effect7:hover a:nth-child(3) i {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  figure.effect8 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000;
    text-align: center;
  }
  figure.effect8 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect8 img {
    position: relative;
    top: 0;
    opacity: 1.0;
    right: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect8 > div {
    width: 100%;
    bottom: -70px;
    position: absolute;
    padding: 4px;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    background: #000;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect8 > div a i {
    display: inline-block;
    font-size: 32px;
    color: #ffffff;
    padding: 8px 15px;
    position: relative;
    bottom: -60px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect8> div a i:hover {
    color: #fff;
  }
  figure.effect8:hover img {
    opacity: 0.5;
    top: -60px;
  }
  figure.effect8:hover > div {
    bottom: 0;
    opacity: 1;
  }
  figure.effect8:hover > div a i {
    bottom: 0;
  }
  figure.effect8:hover a:first-child i {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  figure.effect8:hover a:nth-child(2) i {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  figure.effect8:hover a:nth-child(3) i {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  figure.effect9 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    cursor: pointer;
  }
  figure.effect9 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect9 img {
    max-width: 100%;
    position: relative;
    top: 0;
    opacity: 1.0;
    right: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect9 > div {
    opacity: 0;
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: absolute;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect9 > div::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: #000000;
    opacity: 0;
    bottom: -58px;
    left: -84px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(45deg) translate3d(-100%, 0%, 0);
    transform: rotate(45deg) translate3d(-100%, 0%, 0);
  }
  figure.effect9 > div::before {
    content: '';
    position: absolute;
    width: 350px;
    height: 70px;
    opacity: 0;
    border-top: 2px solid #ffffff;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 60px;
    left: -85px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(45deg) translate3d(100%, 0%, 0);
    transform: rotate(45deg) translate3d(100%, 0%, 0);
  }
  figure.effect9 > div a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }
  figure.effect9 > div i:before {
    display: inline-block;
    font-size: 60px;
    color: #ffffff;
    left: 0;
    bottom: 0;
    opacity: 0;
    padding: 50px;
    position: absolute;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    z-index: 1;
  }
  figure.effect9:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  figure.effect9:hover > div {
    bottom: 0;
    opacity: 1;
  }
  figure.effect9:hover > div::after,
  figure.effect9:hover > div::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.effect9:hover > div::after {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    opacity: 1;
  }
  figure.effect9:hover > div::before {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    opacity: 1;
  }
  figure.effect9:hover > div i::before {
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }

  figure.effect10 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    cursor: pointer;
  }
  figure.effect10 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect10 img {
    max-width: 100%;
    position: relative;
    top: 0;
    opacity: 1.0;
    right: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect10 > div {
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: absolute;
    color: #ffffff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure.effect10 > div::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: #000000;
    opacity: 0;
    bottom: -58px;
    right: -84px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(-45deg) translate3d(-100%, 0%, 0);
    transform: rotate(-45deg) translate3d(-100%, 0%, 0);
  }
  figure.effect10 > div::before {
    content: '';
    position: absolute;
    width: 350px;
    height: 70px;
    opacity: 0;
    border-top: 2px solid #ffffff;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 60px;
    right: -85px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: rotate(-45deg) translate3d(100%, 0%, 0);
    transform: rotate(-45deg) translate3d(100%, 0%, 0);
  }
  figure.effect10 > div a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }
  figure.effect10 > div i:before {
    display: inline-block;
    font-size: 60px;
    color: #ffffff;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: 50px;
    position: absolute;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    z-index: 1;
  }
  figure.effect10:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  figure.effect10:hover > div {
    bottom: 0;
    opacity: 1;
  }
  figure.effect10:hover > div::after {
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
    opacity: 1;
  }
  figure.effect10:hover > div::before {
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
    opacity: 1;
  }
  figure.effect10:hover > div i::before {
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }

  figure.effect11 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
    cursor: pointer;
  }
  figure.effect11 img {
    max-width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect11 > div a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color: #ffffff;
  }
  figure.effect11 > div a i::before {
    font-size: 56px;
    opacity: 0;
    top: 55%;
    position: relative;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    display: inline-block;
  }
  figure.effect11 > div::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect11:hover img {
    opacity: 0.5;
  }
  figure.effect11:hover > div i:before {
    opacity: 0.9;
    top: 50%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect11:hover > div::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  figure.effect12{
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
    cursor: pointer;
  }
  figure.effect12 img {
    max-width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect12> div a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color: #ffffff;
  }
  figure.effect12> div a i::before {
    font-size: 50px;
    opacity: 0;
    top: 55%;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    display: inline-block;
  }
  figure.effect12> div::before {
    position: absolute;
    top: 30px;
    right: 50%;
    bottom: 30px;
    left: 50%;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect12:hover img {
    opacity: 0.5;
  }
  figure.effect12:hover > div i::before {
    opacity: 0.8;
    top: 50%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect12:hover > div::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    right: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  figure.effect13 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
    cursor: pointer;
  }
  figure.effect13 img {
    max-width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect13 > div a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color: #ffffff;
  }
  figure.effect13 > div a i::before {
    font-size: 50px;
    opacity: 0;
    top: 55%;
    position: relative;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    display: inline-block;
  }
  figure.effect13 > div::before {
    position: absolute;
    top: 50%;
    right: 40%;
    bottom: 50%;
    left: 40%;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  figure.effect13:hover img {
    opacity: 0.35;
  }
  figure.effect13:hover > div i::before {
    opacity: 0.8;
    top: 50%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect13:hover > div::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  figure.effect14 {
    -webkit-transition: none !important;
    transition: none !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
  }
  figure.effect14 img {
    max-width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect14 > div {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
  }
  figure.effect14 > div a {
    color: #ffffff;
  }
  figure.effect14 > div a i {
    font-size: 44px;
    opacity: 0;
    top: 50%;
    position: relative;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    display: inline-block;
  }
  figure.effect14 > div a i.left-icon {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  figure.effect14 > div a i.right-icon {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  figure.effect14 > div::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect14:hover img {
    opacity: 0.35;
  }
  figure.effect14:hover > div i {
    opacity: 0.9;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect14:hover > div i.left-icon {
    -webkit-transform: translate3d(-25%, -50%, 0);
    transform: translate3d(-25%, -50%, 0);
  }
  figure.effect14:hover > div i.right-icon {
    -webkit-transform: translate3d(25%, -50%, 0);
    transform: translate3d(25%, -50%, 0);
  }
  figure.effect14:hover > div::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  figure.effect15 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
  }
  figure.effect15 img {
    max-width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect15 > div {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
  }
  figure.effect15 > div a {
    color: #ffffff;
  }
  figure.effect15 > div a i {
    font-size: 50px;
    opacity: 0;
    top: 50%;
    position: relative;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    display: inline-block;
  }
  figure.effect15 > div a i.left-icon {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  figure.effect15 > div a i.right-icon {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  figure.effect15 > div::before {
    position: absolute;
    top: 30px;
    right: 50%;
    bottom: 30px;
    left: 50%;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect15:hover img {
    opacity: 0.35;
  }
  figure.effect15:hover > div i {
    opacity: 0.9;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect15:hover > div i.left-icon {
    -webkit-transform: translate3d(-25%, -50%, 0);
    transform: translate3d(-25%, -50%, 0);
  }
  figure.effect15:hover > div i.right-icon {
    -webkit-transform: translate3d(25%, -50%, 0);
    transform: translate3d(25%, -50%, 0);
  }
  figure.effect15:hover > div::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    right: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  figure.effect16 {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
  }
  figure.effect16 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect16 img {
    max-width: 100%;
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect16 figcaption {
    font-size: 1.25em;
  }
  figure.effect16 > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
  }
  figure.effect16 > div::before {
    position: absolute;
    top: 30px;
    right: 50%;
    bottom: 30px;
    left: 50%;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.effect16 h2,
  figure.effect16 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.effect16 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect16 h2 span {
    font-weight: 800;
  }
  figure.effect16 p {
    font-weight: 200	;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.effect16 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.effect16:hover img {
    opacity: 0.35;
  }
  figure.effect16:hover > div h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect16:hover > div p {
    opacity: 0.8;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.effect16:hover > div::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    right: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  figure.effect17 {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
  }
  figure.effect17 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect17 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect17 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
  }
  figure.effect17 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.effect17 h2,
  figure.effect17 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.effect17 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect17 h2 span {
    font-weight: 800;
  }
  figure.effect17 p {
    font-weight: 200	;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.effect17 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.effect17:hover img {
    opacity: 0.35;
  }
  figure.effect17:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect17:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.effect17:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  figure.effect18 {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: left;
  }
  figure.effect18 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect18 img {
    max-width: 100%;
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect18 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 3em;
    width: 100%;
    height: 100%;
  }
  figure.effect18 figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 100%;
    border-left: 4px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.effect18 h2,
  figure.effect18 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.effect18 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(30%, 0%, 0);
    transform: translate3d(30%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect18 h2 span {
    font-weight: 800;
  }
  figure.effect18 p {
    font-weight: 200;
    -webkit-transform: translate3d(0%, 30%, 0);
    transform: translate3d(0%, 30%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.effect18 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.effect18:hover img {
    opacity: 0.3;
  }
  figure.effect18:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  figure.effect18:hover figcaption p {
    opacity: 0.9;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.effect18:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  figure.effect19 {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: right;
  }
  figure.effect19 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.effect19 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect19 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 3em;
    width: 100%;
    height: 100%;
  }
  figure.effect19 figcaption::before {
    position: absolute;
    top: 30px;
    right: 100%;
    bottom: 30px;
    left: 30px;
    border-right: 4px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.effect19 h2,
  figure.effect19 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.effect19 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(-30%, 0%, 0);
    transform: translate3d(-30%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect19 h2 span {
    font-weight: 800;
  }
  figure.effect19 p {
    font-weight: 200;
    -webkit-transform: translate3d(0%, -30%, 0);
    transform: translate3d(0%, -30%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.effect19 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.effect19:hover img {
    opacity: 0.3;
  }
  figure.effect19:hover figcaption h2,
  figure.effect19:hover figcaption p {
    visibility: visible;
  }
  figure.effect19:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  figure.effect19:hover figcaption p {
    opacity: 0.9;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.effect19:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    right: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  figure.effect20 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
    cursor: pointer;
  }
  figure.effect20 img {
    max-width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.effect20 > div a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color: #ffffff;
  }
  figure.effect20 > div a i::before {
    font-size: 50px;
    opacity: 0;
    top: 55%;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    display: inline-block;
  }
  figure.effect20 > div::before {
    position: absolute;
    top: 40%;
    right: 50%;
    bottom: 40%;
    left: 50%;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  figure.effect20:hover img {
    opacity: 0.35;
  }
  figure.effect20:hover > div i::before {
    opacity: 0.9;
    top: 50%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.effect20:hover > div::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }